<div class="comeback">
        <div class="button_comeback" >
            <a class="content__comeback" href="">
                <i class="fas fa-angle-left"></i>
            </a>
            <b>   /   Balo Big 12VAHDT Văn Hiến Chi Bang Ver2</b>
        </div>
    </div>
    
    <div class="main">
        <div class="boddy">
            <div class="image">
                <div class="slider">
                    <img src="{{t_shirts.img}}" alt="">
                </div>
                <!-- <div class="slider1">
                    <img src="/Img/t-shirt/Áo Thun Cổ Tròn  Ver1 người mẫu.jpg" alt="">
                </div> -->
            </div>          
        </div>
        <div class="content">
            <div class="infoproduct">
                <h4>{{t_shirts.Name}}</h4>
                <div class="head">
                    <p>Form Big / Mã số: {{t_shirts.slug}}</p>
                </div>
                <p id="money">{{t_shirts.Price}} đ</p>
                <table>
                    <tbody>
                        <tr>
                            <td>Đen Trắng, Free Size</td>
                            <td class="text-right mid">
                                <a href="#"><b>24</b> CH còn</a> 
                            </td>
                            <td class="text-right iconn">
                                <ul class="note">
                                    <a href="#">
                                    <li>
                                        <ion-icon name="add-circle"></ion-icon>
                                        <span>Thêm Đen Cam, S vào giỏ hàng</span>                          
                                    </li>
                                    <span>Chọn mua</span>
                                </a>
                                </ul>
                            </td>  
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="descriprion">
                <h4>Mô tả sản phẩm</h4>
                <div class="nd">
                    H58 - VHCB BACKPACK
                    <br>
                    - Thiết kế bắt mắt với đai dù mix khoen nhựa lạ mắt.
                    <br>
                    - Logo VHCB thêu 3D ấn tượng
                    <br>
                    Chất liệu:
                    <br>
                    - 1000D Cordura Đen trượt nước - Lót 210D + Nylex Đen
                    <br>
                    - Lót trong Airmesh+ PE foam 5mm
                    <br>
                    - Đệm EVA 3mm - Khoen D 25mm
                    <br>
                    - Dây kéo YKK #5 - YKK #8
                    <br>
                    Thiết kế:
                    <br>
                    - Nhãn chữ Y/H58 quai đeo
                    <br>
                    - Ngăn chính rộng với sức chứa lớn.
                    <br>
                    - Trong: Ngăn lưới dây kéo tiện dụng - Ngăn laptop chống shock.
                    <br>
                    - Ngăn phụ ngoài rộng tăng thêm thể tích khủng.
                    <br>
                    - Kích thước: 46x32x12 cm
                    <br>
                </div>
            </div>
        </div>
    </div>