*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
#main{
 overflow: hidden;

}
html{
    font-family: 'Roboto', sans-serif;
    font-size:62.5%;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full--width{
    width: 100%;
}

.grid__row{
    display:flex;
    flex-wrap: wrap;
}
@keyframes growth{
    from {
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

.open{
    display:flex;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    position:fixed;
    width: 100%;
}
#header{
    height: 60px;
    background-color: #000;
    display: flex !important;
    justify-content: space-between !important;
    box-sizing: border-box ;
}

#header__nav {
    display: inline-block;
    font-size: 16px;
  
}

#header__nav li {
    display: inline-block;
    
}

#header__nav .ti-menu {
    font-size: 16px;
}

#header .search-button{
    float: right;
    padding:0 21px;
    cursor: pointer;
}

#header .ti-search {
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    
}

#header .user-button{
    float: right;
    padding:0 21px;
    cursor: pointer;
}

#header .ti-user{
    font-size: 16px;
    color: #fff;
    line-height: 60px;
}

#header .shopping-button{
    float: right;
    padding:0 21px;
    cursor: pointer;
    position: relative;
}
.shopping-button:hover .cart__list{
    display:block;
}
.cart__list{
    width: 400px;
    position:absolute;
    top:100%;
    right:20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 10px #ccc;  
    animation: growth linear 0.1s;
    display:none;
}
.cart__list-no-cart{
    width: 100%;
        
}
#header .ti-shopping-cart{
    font-size: 16px;
    color: #fff;
    line-height: 60px;
    
}

#header .instagram-button{
    float: right;
    padding:0 21px;
    cursor: pointer;
}
#header .ti-instagram{
    font-size: 16px;
    color: #fff;
    line-height: 60px;
}
#header__nav li a{
    color: #fff;
    text-decoration: none;
    line-height:60px;
    padding: 0 40px;
    display: inline-block;
}

#header .button__icon--small{
    background-color: #000;
    height: 60px;
    float: right;
    padding-right: 30px;
}

.container{
    max-width: 1400px !important;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#content{
    margin-top: 20px;  
}

#content .content__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content__list .content__Tshirt img{
    width: 344px;
    margin: 10px 2px;
}

#content .content__title{
    width: 100%;
    background-color: #fff;
    height: 100px;
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Roboto', "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.content__move{
    height: 40px;
    background-color: #e9ecef;
    border-radius: 0;
    padding: .25rem 1rem;
    margin-bottom: 0.5rem;
    list-style: none;

}
#content .ti-home{
    font-size: 22px;
}
.content__home{
   text-decoration: none;
   color: #000;
}


#summer .content__list--summer{
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 100px;
}
.summer{
    margin: 0 100px;
    
}
.title-hot{
    height: 50px;
    padding-top: 20px;
    text-align: center;
    
}
.title-sup{
   height: 30px;
    font-size: 1.5rem;
}


#footer{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

.footer__logo{
    display:flex;
    flex-direction: column;
    width: 33.333%;
}
.footer__logo-top a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo-des{
    color: #fff;
    height: 100px;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.footer__about{
    color: #fff;
    width: 33.333%;
    font-size: 16px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-size:20px;
}
.information h4{
    font-weight: 100px;
}

.about__title {
    margin-bottom: 40px;
    
}
.list__inf{
    font-size: 17px;

}
.list__inf li a{
    color: #fff;
    text-decoration: none;
}
.footer__contact{
    color: #fff;
    width: 33.333%;
    font-size: 16px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-size:20px;
}
.contact__list a{
    color: #fff;
    text-decoration: none;
    display: flex;
    font-size: 17px;
    
}
.contact__title{
    margin-bottom: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.main{
    margin: 20px 100px;
    display: flex;
    justify-content: space-evenly;
    width: 1400px !important;
}

.boddy{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 488px;
    margin-right: 10px;
    /* thêm mới */
    display: flex;
}
.image input{
    display: none;
}

.image img{
    width: 100%;  
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 300;
    width: 69%;
    line-height: 1.2;
}
.infoproduct{
    width: 588px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 32px 0 16px;   
    line-height: 1.3;
}
.infoproduct h4{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}
.descriprion{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

.descriprion h4{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
    
}
.head{
    margin-bottom: 16px;
    line-height: 1.6;
}
#clieu{
    font-weight: bolder;
    text-decoration: none;
    color: #333;
}
#clieu:hover{
    color: pink;
}

#money{
    font-size: 18px;
    color: #EE4266;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}
table{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
    height: 24%;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    line-height: 2;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td{
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.text-right{
    text-align: right;
}
.mid a:hover{
    color: pink;
}
.mid a{
    color: #444444;
}
.mid b{
    font-weight: 400;
}
.iconn a{
    color: #fd0037;
}

.note li{
    position: relative;
    list-style: none;
    display: inline-block;
}
.note li:hover span{
    opacity: 1;
    transform: translateY(-156%) translateX(66px);
    background: pink;
    color: white;
}
.note li span{
    width: 200px;
    position: absolute;
    right: 50px;
    top: 50%;
    padding: 5px 7px;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
    word-wrap: break-word;
}

.text-right a{
    text-decoration: none;
}
.text-right .icon-icon{
    color: #EE4266;
}



.nd{
    line-height: 1.8;
    font-size: 1.6rem;
}

.top{
    position:fixed;
    width: 100%;
}

.comeback{
    width: 1400px !important;
    height: 40px;
    background-color: #e9ecef;
    margin: auto;

}
.content__comeback{
    font-size: 16px;
    color: #444444;
    text-decoration: none;
    line-height: 40px;
    padding-left: 16px;
}

.button_comeback b{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1400px !important;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#content{
    width: 1400px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}

#content .content__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content__list .content__Tshirt img{
    width: 344px;
    margin: 10px 2px;
}

#content .content__title{
    width: 100%;
    background-color: #fff;
    height: 100px;
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Roboto', "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.content__move{
    height: 40px;
    width: 100%;
    background-color: #e9ecef;
    border-radius: 0;
    padding-left: 16px;
    margin-bottom: 0.5rem;
    list-style: none;
    margin-top: 60px;

}


#content .content__home{
    font-size: 16px;
    color: #444444;
    text-decoration: none;
    line-height: 40px;
}

.button b{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto';
}
