*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
#main{
 overflow: hidden;

}
html{
    font-family: 'Roboto', sans-serif;
    font-size:62.5%;
    box-sizing: border-box;
}
.col{
    
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full--width{
    width: 100%;
}

.grid__row{
    display:flex;
    flex-wrap: wrap;
}
@keyframes growth{
    from {
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

.open{
    display:flex;
}