*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height:737px;
}
.container .container-insert h1{
    
}
.container-insert .form-name{
    font-size:20px;
}
.input-group{
    margin-top: 10px;
}
.input-group input {
    overflow: visible;
    width: 800px;
    height: 46px;
    font-size: 18px;
}
.btn{
    margin-top: 20px;
    margin-right: 10px;
    background-color: rgb(125, 186, 243);
    justify-content: end;
}
button {
    font-size:18px;
}
