*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:737px;
    /* background-color: rgb(169, 238, 232); */
}
.container-manage{
    width: 1200px;
    height: 400px;
}
.top{
    position:fixed;
    width: 100%;
}
#header{
    height: 60px;
    background-color: #000;
    display: flex !important;
    justify-content: space-between !important;
    box-sizing: border-box ;
}

#header__nav {
    display: inline-block;
    font-size: 16px;
  
}

#header__nav li {
    display: inline-block;
    
}

#header__nav .ti-menu {
    font-size: 16px;
}

#header .search-button{
    float: right;
    padding:0 21px;
    cursor: pointer;
}

#header .ti-search {
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    
}

#header .user-button{
    float: right;
    padding:0 21px;
    cursor: pointer;
}

#header .ti-user{
    font-size: 16px;
    color: #fff;
    line-height: 60px;
}

#header .shopping-button{
    float: right;
    padding:0 21px;
    cursor: pointer;
    position: relative;
}
#header .ti-shopping-cart{
    font-size: 16px;
    color: #fff;
    line-height: 60px;
    
}


#header__nav li a{
    color: #fff;
    text-decoration: none;
    line-height:60px;
    padding: 0 40px;
    display: inline-block;
}

#header .button__icon--small{
    background-color: #000;
    height: 60px;
    float: right;
    padding-right: 30px;
}
.container{
    max-width: 1400px !important;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#footer{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

.footer__logo{
    display:flex;
    flex-direction: column;
    width: 33.333%;
}
.footer__logo-top a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo-des{
    color: #fff;
    height: 100px;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.footer__about{
    color: #fff;
    width: 33.333%;
    font-size: 16px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-size:20px;
}
.contact__title h4{
    font-weight: 100px;
}

.about__title {
    margin-bottom: 40px;
    
}
.list__inf{
    font-size: 17px;

}
.list__inf li a{
    color: #fff;
    text-decoration: none;
}
.footer__contact{
    color: #fff;
    width: 33.333%;
    font-size: 16px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-size:20px;
}
.contact__list a{
    color: #fff;
    text-decoration: none;
    display: flex;
    font-size: 17px;
    
}
.contact__title{
    margin-bottom: 40px;
}
