@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    position:fixed;
    width: 100%;
}
#header{
    height: 60px;
    background-color: #000;
    display: flex !important;
    justify-content: space-between !important;
    box-sizing: border-box ;
}

#header__nav {
    display: inline-block;
    font-size: 16px;
  
}

#header__nav li {
    display: inline-block;
    
}

#header__nav .ti-menu {
    font-size: 16px;
}

#header .search-button{
    float: right;
    padding:0 21px;
    cursor: pointer;
}

#header .ti-search {
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    
}

#header .user-button{
    float: right;
    padding:0 21px;
    cursor: pointer;
}

#header .ti-user{
    font-size: 16px;
    color: #fff;
    line-height: 60px;
}

#header .shopping-button{
    float: right;
    padding:0 21px;
    cursor: pointer;
    position: relative;
}
.shopping-button:hover .cart__list{
    display:block;
}
.cart__list{
    width: 400px;
    position:absolute;
    top:100%;
    right:20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 10px #ccc;  
    animation: growth linear 0.1s;
    display:none;
}
.cart__list-no-cart{
    width: 100%;
        
}
#header .ti-shopping-cart{
    font-size: 16px;
    color: #fff;
    line-height: 60px;
    
}


#header__nav li a{
    color: #fff;
    text-decoration: none;
    line-height:60px;
    padding: 0 40px;
    display: inline-block;
}

#header .button__icon--small{
    background-color: #000;
    height: 60px;
    float: right;
    padding-right: 30px;
}

.container{
    max-width: 1400px !important;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#content{
    width: 1400px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}

#content .content__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content__list .content__Tshirt img{
    width: 344px;
    margin: 10px 2px;
}

#content .content__title{
    width: 100%;
    background-color: #fff;
    height: 100px;
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Roboto', "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.content__move{
    height: 40px;
    width: 100%;
    background-color: #e9ecef;
    border-radius: 0;
    padding-left: 16px;
    margin-bottom: 0.5rem;
    list-style: none;
    margin-top: 60px;

}


#content .content__home{
    font-size: 16px;
    color: #444444;
    text-decoration: none;
    line-height: 40px;
}

.button b{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto';
}

#footer{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

.footer__logo{
    display:flex;
    flex-direction: column;
    width: 33.333%;
}
.footer__logo-top a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo-des{
    color: #fff;
    height: 100px;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.footer__about{
    color: #fff;
    width: 33.333%;
    font-size: 16px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-size:20px;
}
.contact__title h4{
    font-weight: 100px;
}

.about__title {
    margin-bottom: 40px;
    
}
.list__inf{
    font-size: 17px;

}
.list__inf li a{
    color: #fff;
    text-decoration: none;
}
.footer__contact{
    color: #fff;
    width: 33.333%;
    font-size: 16px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-size:20px;
}
.contact__list a{
    color: #fff;
    text-decoration: none;
    display: flex;
    font-size: 17px;
    
}
.contact__title{
    margin-bottom: 40px;
}
