<div class="top">
            <div id="header">
                <!-- Begin: Nav -->
                <ul id="header__nav">
                    <li><a href="/T_shirt">T-SHIRT</a></li>
                    <li><a href="/bag">BAG</a></li>
                    <li><a href="/hat">HAT</a></li>
                    <li><a href="/short">SHORT</a></li>
                    <li><a href="/jeans">JEANS</a></li>
                </ul>
                <!-- End: Nav -->
                <!-- Begin: Button -->
                <div class="button__icon--small">
                    <div class="shopping-button">
                        <i class="ti-shopping-cart">
                            <div class="cart__list">
                                <img src="./img/shopping cart.jpg" alt="" class="cart__list-no-cart">
                                <h4 class="cart__heading">Item Added</h4>
                            </div>
                        </i>
                    </div>
                    <div class="search-button " >
                        <i class="ti-search"></i>
                    </div>
                    <div class="user-button js-login">
                     <i class="ti-user"></i>
                    </div>                  
                </div>
                <!-- End: Button -->    
            </div>
</div>