*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search{
    position: relative;
    top: 11px;
    width: 30px;
    height: 38px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    overflow: hidden;
}
.search.active{
    width: 360px;
}
.search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 41px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}


.search .icon::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #287dfc;
    border-radius: 50%;
    transform: translate(-4px,-4px);
}

.search .icon::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background:  #287dfc;
    transform: translate(6px,6px) rotate(315deg);
}

.search .input{
    position: relative;
    width: 313px;
    height: 40px;
    left: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input{
    position: absolute;
    top: 0;
    left: 0;
    width: 86%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
}

.clear{
    position: absolute;
    top: 36%;
    transform: translate(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before{
    position:absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after{
    position:absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}