<div id="content">
            <div class="content__move">
                <div class="button " >
                    <a class="content__home" href="/">
                        <i class="ti-home"></i>
                    </a>
                    <b>   /   Hat</b>
                </div>
            </div>
            <div class="content__list">
                {{#each hats}}
                <div class="content__Tshirt">
                    <a href="/hat/{{this.slug}}"><img src="{{this.img}}" alt=""></a>
                </div>
                {{/each}}
            </div>            
</div>