<div class="container">
            <div id="banner">
                <div class="Cont__img" data-aos="zoom-in">
                    <div class="col-12 text-center mb-2 px-0">
                        <img src="./Img/1.jpg"  style="margin:auto; width:100%;">
                    </div>
                </div>
            </div>
            <div id="content">
                <div class="content__title">
                        <p class="title-hot">Hot Products</p> 
                        <p class="title-sup">The most sought-after and best-selling fashion products</p>
                </div>
                <div class="content__list">
                    <div class="content__Tshirt">
                        <a href="./decription/T-shirt/T_shirt1.html"><img src="./Img/t-shirt/Áo Thun Cổ Tròn Linh Vật Bbuff Ver1 .jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/t-shirt/Áo Thun Cổ Tròn Thần Cổ Đại Angelo M1.jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/t-shirt/Áo Thun Cổ Tròn Ngân Hà Astronaut M1.jpg" alt=""></a>
                    </div>  
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/t-shirt/Áo Thun Cổ Tròn Thiên Nhiên Kì Vĩ Darkness Hunters Ver6.jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/Bag/Balo Fit Y Nguyên Bản 18- Ver1.jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/Bag/Balo Fit Thiên Nhiên Kì Vĩ Darkness Hunters Ver3 mẫu.jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/Bag/Balo Fit Thiên Nhiên Kì Vĩ Darkness Hunters Ver2 mẫu.jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/Bag/Balo Big 12VAHDT Văn Hiến Chi Bang Ver2 0019067.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div id="banner">
                <div class="Cont__img" data-aos="zoom-in">
                    <div class="col-12 text-center mb-2 px-0">
                        <img src="./Img/BANNER.jpg"  style="margin:auto; width:100%;">
                    </div>
                </div>
            </div>
            <div id="content">
                <div class="content__list">
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/Short/Quần Short Y Nguyên Bản 18- Summer Ver3 mẫu.jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/Short/Quần Short Y Nguyên Bản 18- Summer Ver4 mẫu.jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/Short/Quần Short Đơn Giản Y Nguyên Bản Ver8 0020316.jpg" alt=""></a>
                    </div>  
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img//Short/Quần Short Đơn Giản Y Nguyên Bản Ver7 0020312.jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/Jeans/Quần Dài Jean Straight Đơn Giản A02 0019674.jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/Jeans/Quần Dài Jean Slimfit Đặc Biệt M9 0020191.jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/Jeans/Quần Dài Jean Slimfit Đơn Giản B2A48 0018643.jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/Jeans/Quần Dài Jean Skinny Đơn Giản A02 0019708.jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/Hat/PKTT Nón Thiên Nhiên Kì Vĩ Darkness Hunters Ver1 0019796.jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/Hat/PKTT Nón 12VAHDT Kỳ Lau Vạn Định Ver1 0019781.jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/Hat/PKTT Nón 12VAHDT Vạn Xuân Kiến Quốc Ver2 0019978.jpg" alt=""></a>
                    </div>
                    <div class="content__Tshirt">
                        <a href=""><img src="./Img/Hat/PKTT Nón 12VAHDT Văn Hiến Chi Bang Ver3 0020081.jpg" alt=""></a>
                    </div>
                </div>    
            </div>
        </div>
</div>